*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  background-image: url(img/fundo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600vh;
}

.continue{
  font-family: sans-serif;
  font-size: 25px;
  margin: 250px auto;
  width: 900px;

}

